@model MinesweeperWebApp.Models.Board

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "content"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainUserScreen</title>


    <style>
        * {
            font-family: Roboto;
        }

        body {
            background-color: rgba(0,0,0,.1);
        }

        .wrapper {
            display: flex;
            width: 100%;
        }

        #sidebar {
            width: 10vw;
            height: 100vh;
            z-index: 999;
            transition: all 0.3s ease-in-out;
            background-color: #846DF2;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            color: rgba(255,255,255,1);
            background-color: rgba(255,255,255,.2);
        }

        #content {
            transition: all;
        }


    </style>
</head>
<body>
    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Welcome, @Model.PlayerName!</h3>
            </div>
        </nav>

        

        @using (Ajax.BeginForm("HandleButtonClick", "Minesweeper", ajaxOptions))
        {
            <div id="content"> 
                @Html.Partial("~/Views/Shared/_GameField.cshtml", Model);
            </div>
        }

    </div>
</body>
</html>