@model MinesweeperWebApp.Models.Board


<style>
    .flexbox-mines {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0,0,255,.1);
        min-width: 100px;
    }

    .break-line{
        flex-basis:100%;
        height:0;
    }

    .customButton {
        width: 90px;
        height: 90px;
        background-color: rgba(0,0,0,.9);
        text-align: center;
        transition: all .2s ease-in-out;
        border: solid 1px;
        border-color: rgba(0,0,0,.5);
        margin: 2px;
        border-radius: 5px;
        color: rgba(255,255,255,.5);
        box-shadow: 1px 2px 0px 0px rgba(0,0,0,.12);
        outline: none;
    }

    .customButton:hover {
        background-color: rgba(255,255,255,.5);
        box-shadow: 3px 5px 0px 0px rgba(0,0,0,.12);
        color: rgba(0,0,0,.9);
        transform: translateY(-2px);
    }

    .customButton:active {
        transform: translateY(0px);
        box-shadow: 1px 2px 0px 0px rgba(0,0,0,.12);
        transform: scale(.99);
    }

    .Bomb {
        background-color: rgba(255,0,0,.5);
        width: 80%;
        height: 80%;
    }

    .FoundCell {
        background-color: rgba(0,0,0,.1);
        width: 80%;
        height: 80%;
    }

</style>

<div class="flexbox-mines">
        @for (int x = 0; x < Model.Size; x++)
        {
            for (int y = 0; y < Model.Size; y++)
            {
                    <button type="submit" name="mine" value="@x,@y" class="customButton" style="height: calc(100vh/Model.Size); width: calc(100vh/Model.Size);" >
                        @if (Model.getCell(x, y).Visited)
                        {
                            if (Model.getCell(x, y).Live)
                            {
                                <span class="Bomb">BOM</span>
                            }
                            else
                            {
                                <span class="FoundCell">@Model.getCell(x, y).LiveNeighbors</span>
                            }
                        }
                        else
                        {
                            <span></span>

                        }
                    </button>

            }
            <div class="break-line"></div>
        }
    
</div>
